<a id='home'></a>

# From Python to DeepLearning

### Here is the structure of this course

[1.Introduction to Python](#intro)<br>
- [1.1 Variables](#variables)<br>
 - [1.1.1 Primitive Types](#primitive_types)<br>
 - [1.1.2 Variable Names](#variable_names)<br>
 - [1.1.3 Strings](#strings)<br>
 - [1.1.4 Escape Sequences](#es)<br>
 - [1.1.5 Formatted Strings](#formatted_str)<br>
 - [1.1.6 String Methods](#str_methods)<br>
 - [1.1.7 Numbers](#numbers)<br>
 - [1.1.7 Type Conversion](#types)<br>
- [1.2 Control Flow](#cFlow)<br>
 - [1.2.1 Comparison Operators](#comp_oper)<br>
 - [1.2.2 Conditional Statements](#conditional_state)<br>
 - [1.2.3 Ternary Operator](#ternary_op)<br>
 - [1.2.4 Logical Operators](#logical_op)<br>
 - [1.2.4 For Loops](#for_loop)<br>
 - [1.2.5 Iterables](#iter)<br>
 - [1.2.6 While loops](#while_loop)<br>
- [1.3 Functions](#Functions)<br>
 - [1.3.1 Defining Functions](#def_function)<br>
 - [1.3.2 xargs in Functions](#xargs)<br>
 - [1.3.2 xxargs in Functions](#xxargs)<br>
- [1.4 Data Structures](#data_structures)<br>
 - [1.4.1 Lists](#Lists)<br>
 - [1.4.2 Tuples](#Tuples)<br>
 - [1.4.3 Sets](#Sets)<br>
 - [1.4.3 Dictionaries](#Dictionaries)<br>

<a id='intro'></a>

# 1. Introduction to Python [Top](#home)

In [ ]:
print("Welcome to the Python course")

<a id='variables'></a>

## Variables [Top](#home)

In [ ]:
number_of_people = 1000
print(number_of_people)

<a id='primitive_types'></a>

### Primitive Types [Top](#home)

In [ ]:
# Interger 
number_of_candidates = 1000
#Float
point = 30.4
#Boolean
is_accepted = True #True or False
#String
course_name = "Physics"

<a id='variable_names'></a>

### Variable Names [Top](#home)

In [ ]:
# Variables name should be descriptif and meaningful
number_of_candidates = 945
# it's a good practice to use LowerCase
is_accepted = True
# Beautify your codes 
course_name="Math" #This is not wrong but not beautiful 
course_name = "Math"

<a id='strings'></a>

### Strings [Top](#home)

In [ ]:
course = 'Physics'
level = "Master"
message = """
Hi, 
This is an example of multiline code in python

Regards
"""

In [ ]:
len(course)

In [ ]:
print(len(course))

In [ ]:
print(course[0])

In [ ]:
print(course[-1])

In [ ]:
print(course[2:6])

In [ ]:
print(course[::2])

In [ ]:
print(course[::-1])

In [ ]:
print(course[:])

In [ ]:
print(course[2:])

In [ ]:
print(course[:3])

<a id='es'></a>

### Escape Sequences [Top](#home)

In [ ]:
# \"
# \'
# \\
# \n
course = "Applied Physics \"Atomic and molecular\""

<a id='formatted_str'></a>

### Formatted Strings[Top](#home)

In [ ]:
first_name = "Shahin"
last_name = "ABDI"
full_name = first_name + ' ' + last_name

In [ ]:
full_name

In [ ]:
new_full_name=f"{first_name} {last_name}"

In [ ]:
new_full_name

<a id='str_methods'></a>

### String Methods[Top](#home)

In [ ]:
example_string = 'python is a best programming language for data science'

In [ ]:
print(example_string.upper())

In [ ]:
print(example_string.lower())

In [ ]:
print(example_string.title())

In [ ]:
#Triming 
first_name = " Shahin "

In [ ]:
print(first_name.strip())

In [ ]:
print(first_name.lstrip())

In [ ]:
print(first_name.rstrip())

In [ ]:
print(example_string.find('data')) #Find index of string

In [ ]:
print(example_string)

In [ ]:
print(example_string.replace('p', 'P'))

In [ ]:
print("python" in example_string)

In [ ]:
print("java" not in example_string)

<a id='numbers'></a>

### Numbers [Top](#home)

In [ ]:
# Integer
x = 1 
# Float
x = 2.1
# Complex number
x = 1 + 2j

In [ ]:
print(type(x))

In [ ]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)

In [ ]:
# Augumented Assigned Operators

x = 3

In [ ]:
x = x + 3

In [ ]:
x

In [ ]:
x += 3

In [ ]:
x

In [ ]:
x **=3

In [ ]:
x

In [ ]:
print(round(2.9))

In [ ]:
print(round(2.91354,2))

In [ ]:
print(abs(-3.5))

In [ ]:
import math

In [ ]:
math.ceil(2.1)

<a id='types'></a>

### Type Conversion [Top](#home)

In [ ]:
x = input("Enter a number : ")

In [ ]:
print(x + 2)

In [ ]:
x = int(input("Enter a number : "))

In [ ]:
print(x + 2)

In [ ]:
# int()
# float()
# bool()
# str()

<a id='cFlow'></a>

## Control Flow [Top](#home)

<a id='comp_oper'></a>

### Comparison Operators [Top](#home)

In [ ]:
print(1 > 2)
print(1 < 2)
print(1 == 1)
print(2 != 1)
print(1 >= 0.5)
print(1 <= 2)

In [ ]:
print("Python" == "python")

In [ ]:
ord("p")

In [ ]:
ord("P")

<img src="Ascii_code_Table.jpg">

<a id='conditional_state'></a>

### Conditional Statements [Top](#home)

In [ ]:
point = int(input('Please enter your point :'))
# point > 55 : Success 
# point = 55 : Invite to interview 
# point < 55 : Fail 

if point > 55 :
    print('Success')
elif point == 55 : 
    print('Invite to interview')
else :
    print('Fail')

<a id='ternary_op'></a>

### Ternary Operator [Top](#home)

In [ ]:
point = 25
if point >= 55 :
    print('Success')
else : 
    print('Fail')

In [ ]:
point = int(input('Please enter your point :'))
print('Success' if point >= 55 else 'Fail' )

<a id='logical_op'></a>

### Logical Operators [Top](#home)

<img src='logical_op.png'>

In [ ]:
point = int(input('Please enter your point :'))
fund = bool(input('Do you have a fund (0: No, 1: Yes) :'))

In [ ]:
if (point >= 55) and (fund) :
    print('Accepted')
else :
    print('Failed')

<a id='for_loop'></a>

### For Loops [Top](#home)

In [ ]:
for number_of_try in range(3):
    print('Try',number_of_try + 1)

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i * j, end = '\t')
    print(end = '\n')

In [ ]:
for i in range(1,100,2):
    print(i , end = '\t')

In [ ]:
#For break continue

"""
Euler Problem 3:

The prime factors of 13195 are 5, 7, 13 and 29. 
What is the largest prime factor 600851475143 ?
"""
def if_is_prime(n):
    if n == 1:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
            break
    else:
        return True

In [ ]:
number = 600851475143
for i in range(1,10000):
    if (number % i == 0) and (if_is_prime(i)):
        print(i, end = '\t')

<a id='iter'></a>

### Iterables [Top](#home)

In [ ]:
message = "Welcome to Python Course"

In [ ]:
for i in message:
    print(i, end = '\n')

<a id='while_loop'></a>

### While Loops [Top](#home)

In [ ]:
command = ""

while command != "quit":
    command = input('> ')
    print(':', command)

In [ ]:
# Infinite Loops
while True:
    command = input('> ')
    print(':', command)
    if command.lower() == "quit":
        break

<a id='Functions'></a>

## Functions [Top](#home)

<a id='def_function'></a>

### Defining Functions [Top](#home)

In [ ]:
def greet(first_name):
    print('Welcome' , first_name)

In [ ]:
greet('Shahin')

In [ ]:
list_of_first_name = ['Group 1','Group 2', 'Group 3']

In [ ]:
for name in list_of_first_name:
    greet(name)

In [ ]:
#Non return function
def greet(name):
    print(f"Hi {name}")

In [ ]:
greet('Shahin')

In [ ]:
#Return function
def get_name(name):
    return f"Hi {name}"

In [ ]:
get_name("Shahin")

In [ ]:
result_of_greet = greet('Shahin')
result_of_get_name = get_name('Shahin')

In [ ]:
print(result_of_greet)
print(result_of_get_name)

In [ ]:
def bmi_calculator(weight, height):
    return round(weight/(height**2),2)
bmi_calculator(weight=78,height=1.72)

In [ ]:
def energy_potential(mass, height, gravity = 9.81):
    return f'{mass*height*gravity} joules'

In [ ]:
e = energy_potential(78,25)
print(e)

In [ ]:
e = energy_potential(78,25,9.81)
print(e)

<a id='xargs'></a>

### xargs in Functions [Top](#home)

In [ ]:
def multiply(*numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

In [ ]:
print(multiply(1,2,3,4))

<a id='xxargs'></a>

### xxargs in Functions [Top](#home)

In [ ]:
def user_info(**user):
    return user
user = user_info(id = 1, name = 'Shahin ABDI', age='29')

In [ ]:
print(user["id"])
print(user["name"])
print(user["age"])

In [ ]:
if user["id"] == 1:
    print(user["name"])

<a id='data_structures'></a>

## Data Structures [Top](#home)

<a id='Lists'></a>

### Lists [Top](#home)

In [ ]:
list_of_cities = ['Paris', 'Berlin', 'Amesterdam', 'Rotterdam', 'NewYork']
list_of_zipcodes = [75,25,63,17,10]
zeros = [0]*5
range_of_numbers = list(range(20))

In [ ]:
range_of_numbers

In [ ]:
for i in range(len(list_of_cities)):
    print(list_of_cities[i],list_of_zipcodes[i])

In [ ]:
# Unpacking List
points = [20.03, 19.05, 18, 16.46, 15.20, 13.2, 12.4]

In [ ]:
first, second, third, forth, fifth, sixth, seventh = points

In [ ]:
first, second, *other = points

In [ ]:
for point in points:
    print(point)

In [ ]:
for point in enumerate(points):
    print(point)

In [ ]:
for point in enumerate(points):
    print(point[0]+1, point[1])

In [ ]:
points = [20.03, 19.05, 18, 16.46, 15.20, 13.2, 12.4]
for index, point in enumerate(points):
    print(index+1, point)

In [ ]:
# Add to List 
list_of_even_numbers = []
for i in range(1,100):
    if i % 2 == 0:
        list_of_even_numbers.append(i)

In [ ]:
print(list_of_even_numbers)

In [ ]:
list_of_even_numbers.insert(len(list_of_even_numbers), 100)

In [ ]:
print(list_of_even_numbers)

In [ ]:
list_of_even_numbers.pop(0)

In [ ]:
print(list_of_even_numbers)

In [ ]:
list_of_even_numbers.remove(60)

In [ ]:
print(list_of_even_numbers)

In [ ]:
del list_of_even_numbers[5:8]
print(list_of_even_numbers)

In [ ]:
list_of_first_five = [1,2,3,4,5]
list_of_second_five = [6,7,8,9,10]

In [ ]:
list_of_first_five.extend(list_of_second_five)

In [ ]:
list_of_first_five

#### Lambda

In [ ]:
items = [
    ("Product1", 10),
    ("Product2", 12),
    ("Product3", 5)
]
def sort_item(item):
    return item[1]
items.sort(key=sort_item)
print(items)

In [ ]:
# Lambda function
items.sort(key = lambda item:item[1])
print(items)

In [ ]:
# Map
for item in map(lambda item:item[1], items):
    print(item)

In [ ]:
list_of_cities = ['Paris', 'Berlin', 'Amesterdam', 'Rotterdam', 'NewYork']
list_of_zipcodes = [75,25,63,17,10]

In [ ]:
for city, zipcode in zip(list_of_cities, list_of_zipcodes):
    print(city, zipcode)

In [ ]:
# List comperhension
list_of_even_number = [i for i in range(1,100)  if i % 2 ==0]

In [ ]:
print(list_of_even_number)

<a id='Tuples'></a>

### Tuples [Top](#home)

In [ ]:
list_of_constants = (6.31e-34, 3e+8 ,6.67e-11)
list_of_const_names = ("h", "c", "g")

In [ ]:
for name, const in zip(list_of_const_names,list_of_constants):
    print(name, const)

<a id='Sets'></a>

### Sets [Top](#home)

In [ ]:
numbers = [1, 1, 2, 3, 4, 5, 6, 8, 4, 2]
set_of_numbers = set(numbers)
second_set = {1,9}

In [ ]:
print(set_of_numbers)

In [ ]:
print(set_of_numbers | second_set) #Union
print(set_of_numbers & second_set) #Intersection
print(set_of_numbers - second_set) #Difference 
print(set_of_numbers ^ second_set) #Symetric difference